{% extends "base.html" %}

{% block title %}Calendar{% endblock %}

{% block head %}
  <link rel="stylesheet" href="css/index.css" />
{% endblock %}

{% block content %}
<div class="inner cover">
  <h1 class="cover-heading">Gold. Blue. Proud.</h1>
  <!-- <p class="lead">We are AEPi</p> -->
  <p class="lead">
    <!-- <iframe src="https://www.google.com/calendar/embed?showTitle=0&showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=aviromanoff%40gmail.com&amp;color=%23A32929&amp;ctz=America%2FNew_York" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe> -->
    <!-- <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0;src=andrew.cmu.edu_mjjq9l3iu1ilgucburi3ga66lc%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->
    <iframe src="https://www.google.com/calendar/embed?showTitle=0&showNav=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&src=andrew.cmu.edu_mjjq9l3iu1ilgucburi3ga66lc%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    <!-- <a href="#" class="btn btn-lg btn-default">Learn more</a> -->
  </p>
</div>
{% endblock %}
